/* Simple Console <https://github.com/gw0/simple-console> */

.simple-console {
	display: flex;
	flex: 1;
	flex-direction: column;
	font-family: sans-serif;
}

.simple-console-output {
	overflow: auto;
}

.simple-console-output,
.simple-console-wrapper {
	flex: 0;
	flex-basis: auto;
}
.simple-console-wrapper {
	display: flex;
	flex-shrink: 0;
}
.simple-console-input {
	flex: 1;
	font-size: inherit;
	color: inherit;
	background: transparent;
	border: 0;
	outline: 0;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.simple-console-wrapper button {
	margin-left: 0.5em;
}
.simple-console-wrapper button.icon {
	background: transparent;
	color: inherit;
	border: 0;
	padding: 0;
	font-size: 1em;
	cursor: pointer;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.simple-console-wrapper button.icon svg {
	width: 1em;
	height: 1em;
	pointer-events: none;
}
.simple-console-wrapper button.icon {
	outline: 0;
}
.simple-console-wrapper button.icon:hover,
.simple-console-wrapper button.icon:focus {
	color: #4078c0;
}
.dark .simple-console-wrapper button.icon:hover,
.dark .simple-console-wrapper button.icon:focus {
	color: #007CFF;
}
.simple-console-wrapper button.icon:active {
	opacity: 0.8;
}
.simple-console-wrapper,
.simple-console-entry {
	padding: 0.25em 0.5em;
	padding-left: 1em;
	position: relative;
}
.simple-console-chevron {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
}
.simple-console-entry {
	color: #808080;
}
.simple-console-command {
	color: inherit;
}
.simple-console-error {
	color: #A00;
	background: #FFF5F5;
}
.dark .simple-console-error {
	color: #A00;
	background: rgba(255, 0, 0, 0.15);
}
.simple-console-warning {
	color: #8a6300;
	background: rgba(255, 230, 0, 0.24);
}
.dark .simple-console-warning {
	color: #ffdc46;
	background: rgba(255, 171, 0, 0.2);
}
.simple-console-info {
	color: rgb(0, 89, 148);
	background: rgba(0, 136, 255, 0.17);
}
.dark .simple-console-info {
	color: rgb(98, 155, 193);
	background: rgba(0, 136, 255, 0.17);
}
.simple-console-success {
	color: rgb(77, 148, 0);
	background: rgba(96, 226, 90, 0.17);
}
.dark .simple-console-success {
	color: rgb(138, 212, 58);
	background: rgba(11, 255, 0, 0.17);
}

.simple-console .light {
	background: white;
	color: black;
}
.simple-console .dark {
	background: black;
	color: white;
}

.simple-console .dark .simple-console-input:focus {
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}

.simple-console .dark ::placeholder,
.simple-console .dark ::-webkit-input-placeholder /* Chrome/Safari */,
.simple-console .dark :-moz-placeholder /* Firefox 18- */,
.simple-console .dark ::-moz-placeholder /* Firefox 19+ */,
.simple-console .dark :-ms-input-placeholder /* IE 10+ */ {
	color: #555;
}
